/** SECTION header */
.header-cont{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
}
.header-cont li{
  display: inline-block;
  list-style-type: none;
}
.header-cont header li{
  color: mediumaquamarine;
}

/** SECTION content */
section,article{
  border: 1px solid black;
}
